<nav class="navbar navbar-expand-lg fixed-top py-2">

    <div class="container">
        <a class="navbar-brand text-white" routerLink="home">Start Framework </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="about" routerLinkActive="button-Active" class="nav-link me-3">about</a>
                </li>
                <li class="nav-item">
                    <a routerLink="portfolio" routerLinkActive="button-Active" class="nav-link me-3">portfolio</a>
                </li>
                <li class="nav-item">
                    <a routerLink="contact" routerLinkActive="button-Active" class="nav-link me-3">contact</a>
                </li>
            </ul>
        </div>
    </div>


</nav>